@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;1,200&family=Raleway:ital,wght@0,200;1,200&family=Roboto:ital,wght@0,100;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
}

/*MOBILE FIRST*/

body{
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    background-color: black;
}

header{
    font-size: large;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content:center;
    background-color: rgb(96, 108, 56);
    margin-bottom: 1em;
}


nav ul li{
    list-style-type: none;
    margin: 3px;
}

li:hover{
    transform: scale(1.2) ;
}


h1{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    text-decoration: underline;            
    font-size: 40px;                
    text-align: center;
    background-color: black;
}

h2, h3{
    font-style: italic;
    font-weight:bold;
    font-size: 30px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    padding: 2px;
    margin: 5px;  
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 10px;
}

p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: 1.6;
    letter-spacing: 1px;
    padding: 5px;
    margin: 10px; 
}

.imgInicio{
    height: 100%;
    width: 100%;
    border-bottom: 2px solid rgb(96, 108, 56);
    border-top: 2px solid rgb(96, 108, 56);
    display: flex;
    justify-content: center;
}

/*BATTLE*/

.imgBattle{
    grid-area: imgB;
}

.titBattle{
    grid-area: titB;
    text-align: center;
}

.textBattle{
    grid-area: textB;
}

/*SAQUEO*/

.imgSaqueo{
    grid-area: imgS;
}

.titSaqueo{
    grid-area: titS;
}

.textSaqueo{
    grid-area: textS;
}

/*RENACIMIENTO*/

.imgRenacimiento{
    grid-area: imgR;
}

.titRenacimiento{
    grid-area: titR;
}

.textRenacimiento{
    grid-area: textR;
}

.gridB{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titB"
    "imgB"
    "textB";
    gap: 10px;
}

.gridS{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titS"
    "imgS"
    "textS";
    gap: 10px;
}

.gridR{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titR"
    "imgR"
    "textR";
    gap: 10px;
}

.imgBattle, .imgSaqueo, .imgRenacimiento{
    height: 250px;
    width: 250px;
    border-bottom: 2px solid rgb(96, 108, 56);
    border-top: 2px solid rgb(96, 108, 56);
}

/*CONTACTO*/

article{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    text-align: justify;
    line-height: 1.6;
    letter-spacing: 1px;
    padding: 5px;
    margin-top: 20px;
}

textarea{
    padding: 5px;
    margin-left: 5px;
}

input{
    padding: 5px;
    margin: 10px;
}

/*OPERADORES*/

.imgJacob{
    border: 5px ridge rgb(96, 108, 56);
    height: 350px;
    width: 70%;
    margin: 10px 0px 10px 0px;
}

.subJ, .subSkins{
    text-align: center;
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8{
    border: 2px ridge rgb(96, 108, 56);
    height: 200px;   
}

.text{
    text-align: center;
}

.divJacob{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


/*ACCESORIOS INFALTABLES*/

.imgAccInf{
    height: 319px;
    width: 300px;
    background-size: 50px;
    border-collapse: 1px;
    border: 5px ridge rgb(96, 108, 56);    
}

.subtAcc{
    text-align: center;
}

.imgSillaGamer{

    background-size:50px ;
    border-collapse: 1px;
    border: 5px ridge rgb(96, 108, 56);
    
}

/*TUTORIALES*/

iframe{
    margin: 20px;
    border: 5px ridge rgb(96, 108, 56);
}

.flex-iframe{
    display: flex;
    flex-flow: row wrap ;
    justify-content: center;
}

.linkTutoriales{
    color: red;
    padding: 0px;
    margin: 0px;
}


/*PIE DE PAGINA*/

footer{
    padding: 2em;
    background-color: rgb(96, 108, 56);
    margin-bottom: 0em;
    margin-top: 1em;
}

.navFooter{
    display: flex;
    justify-content: center;
}

.redes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.icon:hover{
    transform: scale(1.2);
}

.tituloFooter{    
    margin: 1px;
    padding: 1px;
    text-align: center;
    font-weight: bolder;
}

.icon{
        height: 48px;
        width: 40px;
        margin: 2px;
    }


@media (min-width: 320px){

    /*INICIO*/
    
    .imgInicio{
        height: 320px;
        width: 99.5%;
        border: 1px solid rgb(96, 108, 56);
        display: flex;
        justify-content: center;
    }

    .imgBattle, .imgSaqueo, .imgRenacimiento{
        height: 250px;
        width: 250px;
        border: 2px solid rgb(96, 108, 56);
    }

    h1, .titO{
        font-family: 'Raleway', sans-serif;
        font-weight: bolder;            
        font-size: 40px;
        text-align: center;             
        padding: 10px;
        margin-top: 20px;
        background-color: black 
    }

    /*TURORIALES*/

    iframe{
        border: 5px ridge rgb(96, 108, 56);
    }

    /*ACCESORIOS INFALTABLES*/

    .flex-Acc{
        display: flex;
        flex-flow: row wrap ;
        justify-content: center;
    }

    /*OPERADORES*/

    .imgJacob{
        border: 5px ridge rgb(96, 108, 56);
        height: 350px;
        width: 70%;
        margin: 10px 0px 10px 0px;
    }

    .subJ, .subSkins{
        text-align: center;
    }

    .img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8{
        border: 2px ridge rgb(96, 108, 56);
        height: 200px;   
    }

    .text{
        text-align: center;
    }

}

@media (min-width: 480px){
    .imgInicio{
        height: 350px;
        width: 99.5%;
        border: 1px solid rgb(96, 108, 56);
        display: flex;
        justify-content: center;
    }

    h1{
        font-size: 45px;
    }

    h2{
        text-align: center;
        font-size: 40px;
    }

    .flex-header{   
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: space-around;
        margin: 30px;
    }

    .imgSaqueo, .imgRenacimiento{
        height: 300px;
        width: 70%;
    }

    .imgBattle{
        height: 350px;
    }

    .divSaqueo, .divRenacimiento{
        display: flex;
        justify-content: center;
    }
    

    /*OPERADORES*/

    .imgJacob{
        height: auto;
        width: auto;
    }

    /*ACCESORIOS INFALTABLES*/




    /*FOOTER*/

    .redes{
        flex-flow: row nowrap;
    }


}

@media (min-width: 600px){
        
    /*INICIO*/
    
    .imgInicio{
        height: 420px;
        width: 99.70%;
        border: 1px solid rgb(96, 108, 56);
        display: flex;
        justify-content: center;
        }

        .imgSaqueo{
            height: 300px;
            width: 70%;
            border: 3px solid rgb(96, 108, 56);
        }

        /*OPERADORES*/

        .skins{
            display: grid;
            justify-content: space-between;
            align-items: center;
            grid-template-columns: 49% 49%;
            grid-template-rows: 25% 25%;
            grid-template-areas: 
            "img1 img2"
            "img3 img4"
            "img5 img6"
            "img7 img8";
            gap: 10px;
        }
        

}

@media (min-width: 768px){
    .imgInicio{
    height: 500px;
    width: 99.80%;
    border: 1px solid rgb(96, 108, 56);
    display: flex;
    justify-content: center;
    }   

    /*BATTLE*/

    .imgBattle{
        height: 320px;
        width: 250px;
        border-collapse: 1px;
        border: 5px ridge rgb(96, 108, 56);   
    }

    .gridB{
        display: grid;
        grid-template-columns: 35% 60%;
        grid-template-rows: auto auto;
        justify-content: center;
        grid-template-areas: 
        "titB titB"
        "imgB textB";
        gap: 10px;
    }
    
    .divBattle{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-end;
        justify-content: space-around;
    }
    
    /*SAQUEO*/

    .gridS{
        display: grid;
        grid-template-columns: 35% 60%;
        grid-template-rows: 26% 66%;
        justify-content: center;
        grid-template-areas: 
        "titS titS"
        "imgS textS";
        gap: 10px;
    }

    .imgSaqueo{
        height: 97%;
        width: 98%;
        border-collapse: 1px;
        border: 5px ridge rgb(96, 108, 56);
    }
    
    .textSaqueo{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .divSaqueo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 3px;
    }

    /*RENACIMIENTO*/

    .gridR{
        display: grid;
        grid-template-columns: 35% 60%;
        grid-template-rows: 16% 82%;
        justify-content: center;
        grid-template-areas: 
        "titR titR"
        "imgR textR";
    }

    .imgRenacimiento{
        height: 300px;
        width: 98%;
        border-collapse: 1px;
        border: 5px ridge rgb(96, 108, 56);
    }

    .divRenacimiento{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 3px;
    }

    .textBattle, .textRenacimiento, .textSaqueo{
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*OPERADORES*/

    .divJacob{
        display: flex;
        flex-flow: row wrap ;
        justify-content: center;
        
    }
    
    .imgJacob{
        border: 5px ridge rgb(96, 108, 56);
        height: 40%;
        width: 30%;
        margin: 10px 0px 10px 0px;
    }
    
    h3{
        text-align: center;
    }
    
    .textSkin{
        grid-area: textoSkin;
    }
    .img1{
        grid-area: imagen1;
    }
    
    .img2{
        grid-area: imagen2;
    }
    
    .img3{
        grid-area: imagen3;
    }
    
    .img4{
        grid-area: imagen4;
    }
    
    .img5{
        grid-area: imagen5;
    }
    
    .img6{
        grid-area: imagen6;
    }
    
    .img7{
        grid-area: imagen7;
    }
    
    .img8{
        grid-area: imagen8;
    }
    
    
    .skins{
        display: grid;
        justify-content: space-between;
        justify-items: center;
        text-align: center;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "imagen1 imagen2 imagen3"
        "imagen4 imagen5 imagen6"
        "imagen7 imagen8 imagen8";
        margin-top: 50px;
    }
    
    .img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8{
        border: 2px ridge rgb(96, 108, 56);
        height: 150px;
        height: 200px;
    }

    footer{
        background: rgb(96, 108, 56); 
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-bottom: 0px;
    }
    
    .icon{
        height: 48px;
        width: 48px;
        margin: 5px;
    }
    
    .tituloFooter{
        padding: 5px;
        margin: 5px;
        text-align: left;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        line-height: 1.6;
        letter-spacing: 1px;    
        color: white;    
    }
    
    .navFooter{
        text-align: center;
        padding-bottom: 10px;
    }

}

@media (min-width: 1024px){
    /*INCIO*/

    .imgInicio{
        border-top: 5px ridge rgb(96,108,56);
        border-bottom: 5px ridge rgb(96,108,56);
    }
    
    h1{
        font-size: 60px;
    }

    h2{
        font-size: 40px;
    }

    /*FOOTER*/

    .redes{
        grid-area: redes;
    }
    
    .navFooter{
        grid-area: navFooter;
    }
    
    footer{
        display: grid;
        grid-template-areas: 
        "redes navFooter";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        align-items: center;
    }
}
































